header {
  width: 100%;
}
header nav {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 5%;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header nav ul div {
  display: flex;
  gap: 50px;
}
header nav ul div li {
  cursor: pointer;
  font-size: 1.7rem;
  transition: 0.2s;
}
header nav ul div li:hover {
  color: purple;
}
header nav div.desktop {
  display: none;
}
header nav div.mobile button {
  background-color: transparent;
  border: none;
  width: 30px;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "DM Sans", sans-serif;
  color: white;
}

body {
  background-color: #171717;
  width: 100%;
}
body section {
  margin: 0 auto;
  padding: 5%;
}
body section h1 {
  text-align: center;
}
body section h2, body section h1 {
  font-size: 2.6rem;
  margin-bottom: 30px;
}
body section p {
  font-size: 2rem;
}
body section .mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
body section .mainSection div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body section .mainSection div img {
  width: 72%;
  border: 20px solid #202020;
  border-radius: 50%;
}
body section .mainSection div.buttonOptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body section .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
body section .personalInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
  height: -moz-max-content;
  height: max-content;
  margin-top: 30px;
  gap: 20px;
  max-width: 100%;
}
body section .personalInfo div p {
  max-width: 100%;
  font-size: 1.3rem;
}
body section .personalInfo .greyBall {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #212121;
  margin: auto;
  position: relative;
  margin-bottom: 10px;
}
body section .personalInfo .greyBall .purpleBall {
  width: 12px;
  height: 12px;
  background-color: purple;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 40%;
}
body section .listSkills {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 235px;
  min-width: 70%;
  gap: 80px;
  flex-wrap: wrap;
  padding: 10% 5%;
  background-color: #333333;
}
body section .listSkills div {
  cursor: pointer;
}
body section .listSkills div h3 {
  font-size: 4rem;
  color: #4F4F4F;
}
body section .listSkills div p {
  color: #27AE60;
  font-weight: 700;
  font-size: 2rem;
  line-height: 31px;
}
body section .occupation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
body section .occupation .cardOccupation {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding: 3% 4%;
  min-width: 280px;
  width: 300px;
  height: 241px;
  background-color: #212121;
  cursor: pointer;
}
body section .occupation .cardOccupation h3 {
  font-weight: 500;
  font-size: 3rem;
  color: #535353;
  text-align: left;
}
body section form {
  margin: auto;
  width: 100%;
}
body section form div {
  width: 100%;
}
body section form div input, body section form div textarea {
  background-color: transparent;
  border: none;
  padding-left: 5px;
}
body section form div input {
  width: 358px;
  height: 30px;
  max-width: 100%;
  border-bottom: 1px solid #4F4F4F;
}
body section form div textarea {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #4F4F4F;
  margin-top: 30px;
}
body section form div.form-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 10px;
}
body section form div.form-inline input {
  max-width: 100%;
  width: 100%;
}

button {
  width: 140px;
  padding: 8px 10px;
  cursor: pointer;
}
button.primary {
  background-color: purple;
  border: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

@media (min-width: 450px) {
  .mainSection {
    justify-content: space-between;
    gap: 5%;
    flex-direction: row !important;
  }
  .mainSection img {
    max-width: 100%;
    border: 20px solid #202020;
    border-radius: 50%;
  }
}
@media (min-width: 768px) {
  form div.form-inline input {
    max-width: 330px !important;
  }
  div.buttonOptions {
    justify-content: center !important;
  }
}
@media (min-width: 1000px) {
  header nav .mobile {
    display: none !important;
  }
  header nav .desktop {
    display: flex !important;
  }
  form {
    width: 70% !important;
  }
  form div.form-inline input {
    max-width: 400px !important;
  }
}/*# sourceMappingURL=style.css.map */